<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mybakery">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MyBakery">
        <activity
            android:name=".MainActivityotzivy"
            android:exported="true" />
        <activity
            android:name=".MainActivityBot"
            android:exported="true" />
        <activity
            android:name=".MainActivityotzivmy"
            android:exported="true" />
        <activity
            android:name=".MainActivityozidaite"
            android:exported="true" />
        <activity
            android:name=".MainActivityspasibo"
            android:exported="true" />
        <activity
            android:name=".MainActivityoplata"
            android:exported="true" />
        <activity
            android:name=".MainActivitypaypage"
            android:exported="true" />
        <activity
            android:name=".MainActivitysearch"
            android:exported="true" />
        <activity
            android:name=".MainActivityglavnaya"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>